<div>
  
  <div>
    <h3>Filtrar</h3>
    
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
      
      <div>
        <label>Fecha Entrada *</label>
        <input type="date" formControlName="fechaDesde">
      </div>
      
      <div>
        <label>Fecha Salida *</label>
        <input type="date" formControlName="fechaHasta">
      </div>

      <div>
        <label>Localidad</label>
        <input type="text" formControlName="localidad" placeholder="Ej: Getxo">
      </div>

      <div>
        <label>Provincia</label>
        <input type="text" formControlName="provincia" placeholder="Ej: Bizkaia">
      </div>

      <div>
        <label>
          <input type="checkbox" formControlName="tomaElectricidad">
          Electricidad
        </label>
        
        <label>
          <input type="checkbox" formControlName="limpiezaAguasResiduales">
          Aguas Residuales
        </label>
        
        <label>
          <input type="checkbox" formControlName="plazasVip">
          Plazas VIP
        </label>
      </div>

      <button type="submit" [disabled]="isLoading">
        {{ isLoading ? 'Buscando...' : 'Buscar' }}
      </button>

      <button type="button" (click)="clearFilters()">
        Limpiar Filtros
      </button>
    </form>
  </div>

  <main>
    
    <div *ngIf="errorMessage">
      {{ errorMessage }}
    </div>


    <div>
      <article *ngFor="let parking of parkings">
        
        <div>
          <h2>{{ parking.nombre }}</h2>
          <div *ngIf="parking.media">
          Nota {{ parking.media }}/10
          </div>
        </div>

        <div>
          
          <p>
            {{ parking.municipio }}, {{ parking.provincia }}
          </p>
          
          <div>
            <span *ngIf="parking.tieneElectricidad" title="Electricidad">Electricidad</span>
            <span *ngIf="parking.tieneResiduales" title="Aguas Residuales">Aguas</span>
          </div>

          <div>
            <div>
              <small>Desde</small>
              <span>{{ getMinPrice(parking) }}€</span>
              <small>/noche</small>
            </div>

            <a [routerLink]="['/parking', parking.id]">
              Ver Disponibilidad
            </a>
          </div>
        </div>
      </article>
    </div>

    <div *ngIf="isLoading">
      <p>Cargando resultados...</p>
    </div>

  </main>
</div>