@use "../../../../styles/abstracts/variables" as *;
@use "../../../../styles/abstracts/mixins" as *;

.footer {
  background-color: $color-green-main;
  color: $color-white;
  @include responsive-padding;

  .footer-left {
    margin-top: $space-md;

    h4 {
      font-size: 1.05rem;
      font-weight: $font-weight-semibold;
      color: $color-white;
      margin-bottom: $space-sm;
    }

    .footer-item {
      display: flex;
      align-items: center;
      gap: .5rem;
      margin: .3rem 0;
      font-size: .9rem;

      i {
        color: $color-green-accent;
      }
    }
  }

  .footer-logo {
    max-width: 140px;
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
  }

  .footer-divider {
    height: 1px;
    width: 100%;
    background-color: $color-brown-soft;
    opacity: 0.7;
  }

  .footer-copy {
    padding-top: $space-xs;
    font-size: .65rem;
    opacity: 0.8;
  }
}

@media (max-width: $bp-sm) {

  .footer {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    text-align: center;
  }

  .footer .row.align-items-start {
    flex-direction: column !important;
    align-items: center !important;
    width: 100%;
  }

  .footer .row.align-items-start.py-4 {
    padding-top: $space-xxs !important;
  }

  .footer-left {
    margin-top: 0;
    text-align: center !important;

    .footer-item {
      justify-content: center !important;
    }
  }

  .footer-logo {
    display: none !important;
  }

  .footer-divider {
    margin: 0rem auto !important;
  }

  .footer-copy {
    text-align: center !important;
    margin-bottom: $space-sm;
  }
}
