@use "../../../../styles/abstracts/variables" as *;
@use "../../../../styles/abstracts/mixins" as *;

.footer {
  background-color: $color-green-main;
  color: $color-white;
  @include responsive-padding;

  .footer-left {
    margin-top: $space-md;

    h4 {
      font-size: 1.05rem;
      font-weight: $font-weight-semibold;
      color: $color-white;
    }

    .footer-item {
      display: flex;
      align-items: center;
      gap: .5rem;
      margin: .3rem 0;
      font-size: .9rem;

      i {
        color: $color-green-accent;
      }
    }
  }

  .footer-logo {
    max-width: 140px;
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;

    max-width: 90px;

    @media (min-width: $bp-sm) {
      max-width: 100px;
    }

    @media (min-width: $bp-md) {
      max-width: 120px;
    }

    @media (min-width: $bp-lg) {
      max-width: 130px;
    }

    @media (min-width: $bp-xl) {
      max-width: 120px;
    }
  }

  .footer-divider {
    height: 1px;
    width: 100%;
    background-color: $color-brown-soft;
    opacity: 0.7;
  }

  .footer-copy {
    padding-top: $space-xs;
    font-size: .65rem;
    opacity: 0.8;
  }
}
